name: neot-bot
on:
    schedule:
        - cron: "0/30 * * * *"
    workflow_dispatch:

jobs:
    neot-bot:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup nodejs
              uses: actions/setup-node@v4
              with: 
                node-version: '22'
                cache: 'npm'

            - name: install
              run: npm ci

            - name: Install TypeScript globally
              run: npm install --save-dev typescript ts-node

            - name: run post
              run: |
                npx ts-node lt.ts &&
                npx ts-node cd.ts &&
                npx ts-node rt.ts &&
                npx ts-node rw.ts &&
                npx ts-node so.ts
              env:
                BOT_ACCOUNT: ${{secrets.BOT_ACCOUNT}}
                BOT_PASSWORD: ${{secrets.BOT_PASSWORD}}

            - name: run bot
              run: npx ts-node index.ts
              env:
                BOT_ACCOUNT: ${{secrets.BOT_ACCOUNT}}
                BOT_PASSWORD: ${{secrets.BOT_PASSWORD}}

