name: neot-bot
on:
    schedule:
        - cron: "0/5 * * * *"
    workflow_dispatch:
        inputs:
          logLevel:
            description: 'Log level'
            required: true
            default: 'warning'
            type: choice
            options:
              - info
              - warning
              - debug
          tags:
            description: 'Test scenario tags'
            required: false
            type: boolean
          environment:
            description: 'Environment to run tests against'
            type: environment
            required: false

jobs:
    neot-bot:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup nodejs
              uses: actions/setup-node@v4
              with: 
                node-version: '22'
                cache: 'npm'

            - name: install
              run: npm ci

            - name: Install TypeScript globally
              run: npm install typescript ts-node

            - name: run bot
              run: npx ts-node index.ts
              env:
                BOT_ACCOUNT: ${{secrets.BOT_ACCOUNT}}
                BOT_PASSWORD: ${{secrets.BOT_PASSWORD}}

